In [ ]:
##import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [ ]:
#1. Determine the number of elements in fruits.
fruit_series = pd.Series(["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"])
fruit_series.size

In [ ]:
#2 Output only the index from fruits.
print(fruit_series.index)
list(fruit_series.index)

In [ ]:
#3 Output only the values from fruits.
print(fruit_series.values)

In [ ]:
#4 Confirm the data type of the values in fruits.
print(fruit_series.dtype)

In [ ]:
#5 Output only the first five values from fruits. Output the last three values. Output two random values from fruits.

print(fruit_series.head(5))
print(fruit_series.tail(5))
print(fruit_series.sample(2))

In [ ]:
# 6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
print(fruit_series.describe())

In [ ]:
# 7 Run the code necessary to produce only the unique string values from fruits.
print(fruit_series.unique())

In [ ]:
# 8 Determine how many times each unique string value occurs in fruits.
print(fruit_series.value_counts())

In [ ]:
# 9 Determine the string value that occurs most frequently in fruits.
fruit_counts = fruit_series.value_counts()
print(max(fruit_counts))
fruit_counts.nlargest(n = 1, keep='all')

### Exercises Part 2

In [ ]:
# 1 Capitalize all the string values in fruits.
print(fruit_series.str.capitalize())

In [ ]:
#2 Count the letter "a" in all the string values (use string vectorization).
fruit_series.str.count('a')

In [ ]:
#3 Output the number of vowels in each and every string value.
fruit_series.str.count(r'[aeiou]')

In [ ]:
# 4 Write the code to get the longest string value from fruits.
fruit_series.apply(str).map(len).max()

In [ ]:
# Using IDX Max https://www.statology.org/idxmax-pandas/
fruit_series[fruit_series.str.len().idxmax()]

In [ ]:
# 5 Write the code to get the string values with 5 or more letters in the name.
fruit_series.apply(str).map(len)
fruit_series[fruit_series.str.len() >=5]

In [ ]:
#6 Find the fruit(s) containing the letter "o" two or more times.
fruit_series[fruit_series.str.count('o') >=2]

In [ ]:
# 7 Write the code to get only the string values containing the substring "berry".
fruit_series[fruit_series.str.contains("berry")]

In [ ]:
# 8 Write the code to get only the string values containing the substring "apple".
fruit_series[fruit_series.str.contains("apple")]

In [ ]:
#9 Which string value contains the most vowels?
fruit_series[fruit_series.str.count('a|e|i|o|u').max()]

### Exercises Part III
Use pandas to create a Series named letters from the following string. The easiest way to make this string into a Pandas series is to use list to convert each individual letter into a single string on a basic Python list.

In [ ]:
random_letters =     'hnvidduckkqxwymbimkccexbkmqygkxoyndmcxnwqarhyffsjpsrabtjzsypmzadfavyrnndndvswreauxovncxtwzpwejilzjrmmbbgbyxvjtewqthafnbkqplarokkyydtubbmnexoypulzwfhqvckdpqtpoppzqrmcvhhpwgjwupgzhiofohawytlsiyecuproguy'
list(random_letters)
random_list = list(random_letters)
random_series = pd.Series(random_list)
print(random_series)

In [ ]:
# 1 Which letter occurs the most frequently in the letters Series?
random_series[random_series.value_counts().max()]

In [ ]:
# 2 Which letter occurs the Least frequently?
random_series[random_series.value_counts().min()]

In [ ]:
# 3 How many vowels are in the Series?
vowels = list('aeiou')
random_series[random_series.isin(vowels)].count()

In [ ]:
# 4 How many consonants are in the Series?
consonants = random_series.size - random_series[random_series.isin(vowels)].count()
consonants

In [ ]:
# 5 Create a Series that has all of the same letters but uppercased.
upper_letters = random_series.str.upper()
upper_letters

In [ ]:
# 6. Create a bar plot of the frequencies of the 6 most commonly occuring letters.
common_letters = random_series.value_counts().head(6)
common_letters

In [ ]:
# plotting the dataframe
common_letters.plot.bar()
plt.xticks(rotation = 0)
plt.xlabel("Letters")
plt.ylabel("Frequency of Letters")

#### Use pandas to create a Series named numbers from the following list:

In [ ]:
numbers =   ['$796,459.41', '$278.60', '$482,571.67', '$4,503,915.98', '$2,121,418.3', '$1,260,813.3', '$87,231.01', '$1,509,175.45', '$4,138,548.00', '$2,848,913.80', '$594,715.39', '$4,789,988.17', '$4,513,644.5', '$3,191,059.97', '$1,758,712.24', '$4,338,283.54', '$4,738,303.38', '$2,791,759.67', '$769,681.94', '$452,650.23']
numbers = pd.Series(numbers)
numbers.head()

In [ ]:
# 1. What is the data type of the numbers Series?
# object

In [ ]:
# 2. How many elements are in the number Series?
numbers.count()

In [ ]:
# 3. Perform the necessary manipulations by accessing Series attributes and methods to convert the 
# numbers Series to a numeric data type.
numbers = numbers.str.replace('$','').str.replace(',','')
numbers = numbers.astype(float)

In [ ]:
# 4. Run the code to discover the maximum value from the Series.
numbers.max()

In [ ]:
# 5. Run the code to discover the minimum value from the Series.
numbers.min()

In [ ]:
# 6. What is the range of the values in the Series?
numbers_range = numbers.max() - numbers.min()
numbers_range

In [ ]:
# 7. Bin the data into 4 equally sized intervals or bins and output how many values fall into each bin.
pd.cut(numbers, 4).value_counts()

In [ ]:
# 8. Plot the binned data in a meaningful way. Be sure to include a title and axis labels.
binned_data = pd.cut(numbers, 4).value_counts()
binned_data.plot.bar(title='Binned Data', 
                                                                            rot=0, 
                                                                            color='firebrick', 
                                                                            ec='black',
                                                                            width=.9).set(xlabel='Letter',
                                                                                         ylabel='Frequency')

plt.show()

In [ ]:
# Use pandas to create a Series named exam_scores from the following list:
exam_scores = pd.Series([60, 86, 75, 62, 93, 71, 60, 83, 95, 78, 65, 72, 69, 81, 96, 80, 85, 92, 82, 78])

In [ ]:
# 1 How many elements are in the exam_scores Series?
exam_scores.size

In [ ]:
# 2 Run the code to discover the minimum, the maximum, the mean, and the median scores for the exam_scores Series.
exam_scores.max(), exam_scores.min(), exam_scores.mean(), exam_scores.median()

In [ ]:
# 3 Plot the Series in a meaningful way and make sure your chart has a title and axis labels.

In [ ]:
# 4 Write the code necessary to implement a curve for your exam_grades Series and save this as curved_grades. Add the necessary points to the highest grade to make it 100, and add the same number of points to every other score in the Series as well.
curved_grade = exam_scores + (100-exam_scores.max())
curved_grade.max()

In [ ]:
# 5 Use a method to convert each of the numeric values in the curved_grades Series into a categorical value of letter grades. For example, 86 should be a 'B' and 95 should be an 'A'. Save this as a Series named letter_grades.
bin_edges = [0, 70, 75, 80, 90, 100]
bin_labels = ['F', 'D', 'C', 'B', 'A']
letter_grades = pd.cut(curved_grade, bins=bin_edges,labels=bin_labels)

letter_grades

In [ ]:

# 6 Plot your new categorical letter_grades Series in a meaninful way and include a title and axis labels.
letter_grades.value_counts().sort_index().plot.barh()
plt.title('Curved Letter Grade Distribution')
plt.show()