## Exercises Part I

### Use pandas to create a Series named fruits from the following list:

In [1]:
fruits = ["kiwi", "mango", "strawberry", "pineapple", "gala apple", "honeycrisp apple", "tomato", "watermelon", "honeydew", "kiwi", "kiwi", "kiwi", "mango", "blueberry", "blackberry", "gooseberry", "papaya"]

In [3]:
##import
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

Determine the string value that occurs most frequently in fruits.

Determine the string value that occurs least frequently in fruits.

In [16]:
# 1 Determine the number of elements in fruits.
len(fruits)
fruits = np.array(fruits)
fruit_series = pd.Series(fruits) 
fruit_series

0                 kiwi
1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
9                 kiwi
10                kiwi
11                kiwi
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [23]:
###2 Output only the index from fruits.
index = fruit_series.index
print(fruit_series.index)

RangeIndex(start=0, stop=17, step=1)

In [21]:
## 3 Output only the values from fruits.
fruit_series.values

In [26]:
## 4. Confirm the data type of the values in fruits.
print("Data type: ", fruit_series.dtype)

Data type:  object

In [36]:
# 5. Output only the first five values from fruits. Output the last three values. 
## Output two random values from fruits.

print(fruit_series[:5])
print(fruit_series[-3:])
print(fruit_series.sample(2))

0          kiwi
1         mango
2    strawberry
3     pineapple
4    gala apple
dtype: object
14    blackberry
15    gooseberry
16        papaya
dtype: object
9          kiwi
4    gala apple
dtype: object

In [37]:
# 6 Run the .describe() on fruits to see what information it returns when called on a Series with string values.
fruit_series.describe()

count       17
unique      13
top       kiwi
freq         4
dtype: object

In [38]:
## 7 Run the code necessary to produce only the unique string values from fruits.
fruit_series.unique()

array(['kiwi', 'mango', 'strawberry', 'pineapple', 'gala apple',
       'honeycrisp apple', 'tomato', 'watermelon', 'honeydew',
       'blueberry', 'blackberry', 'gooseberry', 'papaya'], dtype=object)

In [39]:
# 8 Determine how many times each unique string value occurs in fruits.
fruit_series.value_counts()

kiwi                4
mango               2
strawberry          1
pineapple           1
gala apple          1
honeycrisp apple    1
tomato              1
watermelon          1
honeydew            1
blueberry           1
blackberry          1
gooseberry          1
papaya              1
dtype: int64

In [42]:
# 9 Determine the string value that occurs most frequently in fruits.
fruit_series.value_counts().idxmax()

'kiwi'

In [44]:
#10 Determine the string value that occurs least frequently in fruits.
count_of_fruits = fruit_series.value_counts()

In [46]:
lowest = count_of_fruits.index[-1]
print (lowest)

papaya

### Exercises Part II
### Explore more attributes and methods while you continue to work with the fruits Series.

In [51]:
#1 Capitalize all the string values in fruits.
fruit_series.str.capitalize()

0                 Kiwi
1                Mango
2           Strawberry
3            Pineapple
4           Gala apple
5     Honeycrisp apple
6               Tomato
7           Watermelon
8             Honeydew
9                 Kiwi
10                Kiwi
11                Kiwi
12               Mango
13           Blueberry
14          Blackberry
15          Gooseberry
16              Papaya
dtype: object

In [56]:
#2 Count the letter "a" in all the string values (use string vectorization).
fruit_series.str.count('a')

0     0
1     1
2     1
3     1
4     3
5     1
6     1
7     1
8     0
9     0
10    0
11    0
12    1
13    0
14    1
15    0
16    3
dtype: int64

In [71]:
#3 Output the number of vowels in each and every string value.
vowels = list('aeiou')
vowels = fruit_series.str.count('a|e|i|o|u')
vowels

0     2
1     2
2     2
3     4
4     4
5     5
6     3
7     4
8     3
9     2
10    2
11    2
12    2
13    3
14    2
15    4
16    3
dtype: int64

In [83]:
#4 Write the code to get the longest string value from fruits.
fruit_series[fruit_series.str.len().max()]

'papaya'

In [82]:
# 5 Write the code to get the string values with 5 or more letters in the name.
fruit_series[fruit_series.str.len() >= 5]

1                mango
2           strawberry
3            pineapple
4           gala apple
5     honeycrisp apple
6               tomato
7           watermelon
8             honeydew
12               mango
13           blueberry
14          blackberry
15          gooseberry
16              papaya
dtype: object

In [87]:
# 6 Find the fruit(s) containing the letter "o" two or more times.
fruit_series[fruit_series.str.count('o') >=2]

6         tomato
15    gooseberry
dtype: object

In [80]:
# 7 Write the code to get only the string values containing the substring "berry".
fruit_series[fruit_series.str.contains('berry')]

2     strawberry
13     blueberry
14    blackberry
15    gooseberry
dtype: object

In [84]:
# 8 Write the code to get only the string values containing the substring "apple".
fruit_series[fruit_series.str.contains('apple')]

3           pineapple
4          gala apple
5    honeycrisp apple
dtype: object

In [89]:
# 9 Which string value contains the most vowels?
vowels = list('aeiou')
fruit_series.max(vowels)

TypeError: unhashable type: 'list'